# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
release/
old/

#Ignore system files
.DS_Store

# Ignore IDE and editor files
.vscode/
.idea/

*.sublime-*

# Ignore package lock files
/package-lock.json
